<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>encode</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <display-name>Servlet04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveEmpServlet</display-name>
    <servlet-name>SaveEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.SaveEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEmpServlet</servlet-name>
    <url-pattern>/admin/saveEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmpServlet</display-name>
    <servlet-name>AddEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.AddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmpServlet</servlet-name>
    <url-pattern>/admin/addEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.tedu.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmpServlet</display-name>
    <servlet-name>ListEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.ListEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmpServlet</servlet-name>
    <url-pattern>/admin/listEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmpServlet</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/admin/delEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmpServlet</display-name>
    <servlet-name>EditEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.EditEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmpServlet</servlet-name>
    <url-pattern>/admin/editEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpServlet</display-name>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <servlet-class>cn.tedu.web.UpdateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <url-pattern>/admin/updateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserServlet</display-name>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>cn.tedu.web.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/saveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cn.tedu.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>mvc.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>mvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>